<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <logger name="com.iteratec.codingdojo" level="DEBUG" />
    <logger name="org.hibernate" level="INFO" />
    <logger name="com.zaxxer.hikari" level="INFO" />
    <logger name="io.netty" level="INFO" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{correlationId} [%thread] [%-5level] %logger{26} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
